{% extends 'keywords/base.html' %}
{% block content %}
<section class='section'>

  <header class='bd-header'>
    <div class='bd-header-titles'>
      <h1 class='title'>Log In</h1>
      <p class='subtitle is-4'>
      </p>
    </div>
  </header>

  {% if error %}
  {{ error }}
  {% endif %}

  <form method='POST' action='{% url 'login' %}'>
    {% csrf_token %}
    <div class='columns'>
      <div class='column'>
        <div class='field'>
          <label class='label'>Username</label>
          <div class='control has-icons-left'>
            <input class='input' type='text'name='username' placeholder='Input your username'>
            <span class='icon is-small is-left'>
              <i class='fas fa-user'></i>
            </span>
          </div>
        </div>

        <label class='label'>Password</label>
        <div class='field'>
          <p class='control has-icons-left'>
            <input class='input' type='password' name='password' placeholder='Input your password'>
            <span class='icon is-small is-left'>
              <i class='fas fa-lock'></i>
            </span>
          </p>
        </div>

        <div class='control is-primary'>
          <input class='button is-primary' type='submit' value='Log In'>
        </div>
        <p>
          <strong>Don't have an account? <a class="has-text-primary"
            href='{% url 'signup' %}'>Create account</a></strong>
          </p>
      </div>
      <div class='column'>
      </div>
      <div class='column'>
      </div>
      <div class='column'>
      </div>

  </form>
</section>

    {% endblock %}
