{% extends 'keywords/base.html' %}
{% block content %}

<section class="section">
  <div class="container">
    <h1 class="title">About</h1>

    The Keyword Manager is a tool to support SEAs and SEOs finding
    new keywords from a website.</br>
    Just input the website you want to analyze and submit. You can also
    use options to control the keyword output.</br>
    Create a user account to save and combine different keyword lists.
    For futher use you can export the lists as csv document.
  </div>
</section>

{% endblock %}
