{% extends 'keywords/base.html' %}

{% block content %}
<section class='section'>
  <div class='container'>
    <h1 class='title'>
      Keywords for
      {% if 'http' in list.url %}
      <a target='_blank' href='{{list.url}}'>{{list.url}}</a>
      {% else %}
      {{list.url}}
      {% endif %}
    </h1>

    {% if login%}
    <form action = '{% url 'list' list.id %}' method='POST'>
      {% csrf_token %}

      <a href='{% url 'csv_export' list.id %}' target='_blank' class='button is-primary' value='csv'>CSV Export</a>
      <button target='_blank' class='button is-success' type='submit' value='csv'>Save</button>

      <div><br/></div>

      <textarea name='description-{{ list.id }}' class='textarea' placeholder='Add a description for this list'>{{ list.description }}</textarea>
      {% endif %}
      <br/>

      {% for phrase in phrases %}
      <div class='columns' style="display:flex;align-items:center;">
        {% if login %}
        <div class='column is-narrow'>
          <input type='checkbox' checked='true' name='keep-{{ phrase.id }}' />
        </div>
        {% endif %}
        <div class='column is-5'>
          <input class='input is-hovered' value='{{ phrase.phrase }}' name='keyword-{{ phrase.id }}' />
        </div>
        <div class='column is-narrow'></div>
        <div class='column is-narrow'>{{ phrase.score|floatformat:1 }}</div>
      </div>
      {% endfor %}

    {% if login %}
    </form>
    {% endif %}

  </div>
</section>
{% endblock %}
